.expand-enter-active,
.expand-leave-active {
  transition: height 0.35s ease;
  overflow: hidden;
}

.expand-enter,
.expand-leave-to {
  height: 0 !important;
}

.slide-animation-enter-active {
  animation: slide-animation 0.2s;
}

.slide-animation-leave-active {
  animation: slide-animation 0.2s reverse;
}

@keyframes slide-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


.pulse {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);

  cursor: pointer;
  -webkit-animation: pulse-anim 1s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse-anim 1s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse-anim 1s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse-anim 1s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse-anim {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse-anim {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse-anim {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@keyframes pulse-anim {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
